{% extends 'base.html' %}

{% block body %}

<h2>欢迎使用天气查询工具</h2>

<form method='POST' action='/pick_a_date'>
<table align="center">
<th colspan="2">请选取日期：</th>
<tr><td>日期: </td><td><input type="date" name="user_date" /></td></tr>
</table>

 <form method='POST' action='/pick_a_city'>
<table align="center">
<th colspan="2">请输入城市：</th>
<datalist id="city">
		{% for city in the_list_city %}
		<option value='{{city}}'>{{city}}</option>
		{% endfor %}
  </datalist>

<td>
<select name="city">
 <tr><td>城市: </td><td><input type="city" name="user_city" /></td></tr>
</table>
  {% for item in the_user_city %}
  
    <option value="{{item}}">{{item}}</option>

  {% endfor %}

  <p>准备就绪后, 单击此按钮：</p>
<p><input value='寻找！' type='SUBMIT'></p>
</form>
<body background="天气图.jpg">

{% endblock %}
